.upload-block {
  max-width: 500px;
  position: relative;
  padding: 32px 46px;
  font-size: 14px;
  color: #253c77;
  font-weight: 700;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  &__field {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 8px;
  }

  &__button {
    background-color: #253c77;
    border: none;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 16px;
    font-weight: 400;

    &:hover {
      cursor: pointer;
    }
  }

  &__url {
    display: flex;

    @media screen and (max-width: 409px) {
      flex-direction: column;
    }
  }

  &__url-input {
    margin-right: 8px;
    padding: 4px 12px;
    border-color: #253c77;
    flex-grow: 1;

    &:hover,
    &:focus {
      border-color: blue;
      outline: blue;
    }

    @media screen and (max-width: 409px) {
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  &__drop-area {
    position: relative;
  }

  &__drop-area-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      + .upload-block__drop-area-inner {
          border-color: blue;
      }
    }
  }

  &__drop-area-inner {
    width: 100%;
    padding: 22px;
    background: rgba(255,255,255,0.2);
    border: 2px dashed #000;
    text-align: center;
    transition: background, border-color 0.3s ease-in-out;

    &--error {
      background-color: red;
      border: none;
      color: white;
    }
  }

}
