@import "./normalize/normalize";

/* Общие стили */


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Comfortaa,Arial,sans-serif;
}


.container {
  max-width: 800px;
  margin: 0 auto;
}


/*   Атомарные классы  */


// margin


.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb8 {
  margin-bottom: 8px;
}

.mt8 {
  margin-top: 8px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb32 {
  margin-bottom: 32px;
}


// padding
.pt32 {
  padding-top: 32px;
}

.m-auto {
  margin: 0 auto;
}

.mb32 {
  margin-bottom: 32px;
}


// Флекс
.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }
}
