@import "./normalize/normalize";

/* Общие стили */


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Comfortaa,Arial,sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}


.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
